.swiper {
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Center slide text vertically */
  display: flex;

  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
